<html>
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-route.js"></script>
		<script src="https://angular-file-upload.appspot.com/js/ng-file-upload.js"></script>
		<script type="text/javascript" src="./templates/ng-file-upload-shim.js"></script>
		<script type="text/javascript" src="./templates/ng-file-upload-shim.min.js"></script>
		<script type="text/javascript" src="./templates/ng-file-upload.js"></script>
		<script type="text/javascript" src="./templates/ng-file-upload.min.js"></script>
		<script type="text/javascript" src="./templates/routeConfig.js"></script>
		<script type="text/javascript" src="./templates/compareController.js"></script>
		<script type="text/javascript" src="./templates/authController.js"></script>
		<script type="text/javascript" src="./templates/uploadController.js"></script>
`

		<title>Photo Recognition</title>
	</head>
   <body ng-app="photoRecogApp">
   <div class="ng-view">

   </div>
   </body>
</html>

